## 1. Import Libraries and Load Data
This block imports the necessary libraries, sets visualization preferences, and loads the TikTok and Forest App datasets. It also checks for missing values and inspects data types.

In [10]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from IPython.display import display  # For cleaner table display in Jupyter

# Set up visualization settings
sns.set_theme(style="whitegrid", palette="pastel")
plt.rcParams['figure.figsize'] = (12, 6)  # Default figure size for all plots

# Load datasets
try:
    tiktok_data = pd.read_csv("tiktok_data.csv")
    forest_data = pd.read_csv("forest_app_data.csv")
    print("Datasets loaded successfully!")
except FileNotFoundError as e:
    print(f"Error loading datasets: {e}")

# Display the first few rows of each dataset with wider rows and columns
print("\nTikTok Data (Sample):")
display(tiktok_data.head().style.set_caption("TikTok Data")
        .set_table_styles([{'selector': 'th, td', 'props': [('padding', '12px')]}])
        .set_table_attributes('style="width:90%; table-layout:fixed;"'))

print("\nForest App Data (Sample):")
display(forest_data.head().style.set_caption("Forest App Data")
        .set_table_styles([{'selector': 'th, td', 'props': [('padding', '12px')]}])
        .set_table_attributes('style="width:90%; table-layout:fixed;"'))

# Check for missing values in both datasets
print("\nChecking for missing values:")
print("TikTok Data Missing Values:\n", tiktok_data.isnull().sum())
print("Forest Data Missing Values:\n", forest_data.isnull().sum())

# Inspect data types and basic info
print("\nTikTok Data Info:")
tiktok_data.info()

print("\nForest App Data Info:")
forest_data.info()

Datasets loaded successfully!

TikTok Data (Sample):

Forest App Data (Sample):

Checking for missing values:
TikTok Data Missing Values:
 Date               0
TotalScreenTime    0
DayScreenTime      0
NightScreenTime    0
TotalLogCount      0
DayLogCount        0
NightLogCount      0
dtype: int64
Forest Data Missing Values:
 Date                     0
TotalFocusTime(mins)     0
NumberofFocusSessions    0
Math306                  0
Cs210                    0
cs305                    0
cs404                    0
cs412                    0
Cs307                    0
dtype: int64

TikTok Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             67 non-null     object
 1   TotalScreenTime  67 non-null     int64
 2   DayScreenTime    67 non-null     int64
 3   NightScreenTime  67 non-null     int64
 4   TotalLogCount    67 non-null     int64
 5   DayLogCount      67 non-null     int64
 6   NightLogCount    67 non-null     int64
dtypes: int64(6), object(1)
memory usage: 3.8+ KB

Forest App Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   67 non-null     object
 1   TotalFocusTime(mins)   67 non-null     int64
 2   NumberofFocusSessions  67 non-null     int64
 3   Math306                67 non-null     int64
 4   Cs210                  67 non-null     int64
 5   cs305                  67 non-null     int64
 6   cs404                  67 non-null     int64
 7   cs412                  67 non-null     int64
 8   Cs307                  67 non-null     int64
dtypes: int64(8), object(1)
memory usage: 4.8+ KB

## 2. Clean and Merge the Data
This block ensures the date format in both datasets is consistent, removes invalid dates, and merges the datasets on the `Date` column. It also checks for missing values in the merged dataset.

In [11]:
from IPython.display import display  # Import for better table display

# Clean and ensure proper date format in TikTok Data
if 'Date' in tiktok_data.columns:
    if not pd.api.types.is_string_dtype(tiktok_data['Date']):
        tiktok_data['Date'] = tiktok_data['Date'].astype(str)  # Convert to string if not already
    tiktok_data['Date'] = tiktok_data['Date'].str.strip()  # Remove extra spaces
    tiktok_data['Date'] = pd.to_datetime(tiktok_data['Date'], format='%d-%m-%Y', errors='coerce')

# Clean and ensure proper date format in Forest Data
if 'Date' in forest_data.columns:
    if not pd.api.types.is_string_dtype(forest_data['Date']):
        forest_data['Date'] = forest_data['Date'].astype(str)  # Convert to string if not already
    forest_data['Date'] = forest_data['Date'].str.strip()  # Remove extra spaces
    forest_data['Date'] = pd.to_datetime(forest_data['Date'], format='%d-%m-%Y', errors='coerce')

# Check for null dates in both datasets
print("\nChecking for null or invalid dates:")
display(tiktok_data[tiktok_data['Date'].isnull()].style.set_caption("TikTok Data - Null Dates")
        .set_table_styles([{'selector': 'th, td', 'props': [('padding', '12px')]}])
        .set_table_attributes('style="width:90%; table-layout:fixed;"'))
display(forest_data[forest_data['Date'].isnull()].style.set_caption("Forest App Data - Null Dates")
        .set_table_styles([{'selector': 'th, td', 'props': [('padding', '12px')]}])
        .set_table_attributes('style="width:90%; table-layout:fixed;"'))

# Drop rows with null dates
tiktok_data = tiktok_data.dropna(subset=['Date'])
forest_data = forest_data.dropna(subset=['Date'])

# Merge datasets on the Date column
merged_data = pd.merge(tiktok_data, forest_data, on='Date', how='inner')

# Display the first few rows of the merged dataset with adjusted widths
print("\nMerged Data (Sample):")
display(merged_data.head(10).style.set_caption("Merged Data")
        .set_table_styles([{'selector': 'th, td', 'props': [('padding', '12px')]}])
        .set_table_attributes('style="width:95%; table-layout:fixed;"'))

# Check for missing values in the merged dataset
print("\nMerged Data - Missing Values:")
display(merged_data.isnull().sum().to_frame(name="Missing Values")
        .style.set_caption("Missing Values in Merged Data")
        .set_table_styles([{'selector': 'th, td', 'props': [('padding', '12px')]}])
        .set_table_attributes('style="width:50%; table-layout:fixed;"'))

Checking for null or invalid dates:

Merged Data (Sample):

Merged Data - Missing Values:

## 3. Perform Descriptive Statistics
This block computes descriptive statistics for the TikTok, Forest App, and merged datasets, displaying them in organized tables.

In [12]:
# Descriptive statistics for TikTok Data
print("\nDescriptive Statistics for TikTok Data:")
tiktok_description = tiktok_data.describe().transpose()  # Transpose for better readability
display(tiktok_description.style.set_caption("Descriptive Statistics for TikTok Data")
        .background_gradient(cmap="Blues")
        .set_table_styles([{'selector': 'th, td', 'props': [('padding', '12px')]}])
        .set_table_attributes('style="width:95%; table-layout:fixed;"'))

# Descriptive statistics for Forest App Data
print("\nDescriptive Statistics for Forest App Data:")
forest_description = forest_data.describe().transpose()  # Transpose for better readability
display(forest_description.style.set_caption("Descriptive Statistics for Forest App Data")
        .background_gradient(cmap="Greens")
        .set_table_styles([{'selector': 'th, td', 'props': [('padding', '12px')]}])
        .set_table_attributes('style="width:95%; table-layout:fixed;"'))

# Descriptive statistics for Merged Data
print("\nDescriptive Statistics for Merged Data:")
merged_description = merged_data.describe().transpose()  # Transpose for better readability
display(merged_description.style.set_caption("Descriptive Statistics for Merged Data")
        .background_gradient(cmap="Oranges")
        .set_table_styles([{'selector': 'th, td', 'props': [('padding', '12px')]}])
        .set_table_attributes('style="width:95%; table-layout:fixed;"'))

Descriptive Statistics for TikTok Data:

Descriptive Statistics for Forest App Data:

Descriptive Statistics for Merged Data: